---
layout: default
---
{% assign post = site.posts.last %}
<nav class="PageNavigation">
    <a href="{{ site.baseurl }}{{ site.posts.first.url }}">first</a>
    {% if post.next.url %}
        <a class="prev" href="{{post.next.url}}">&laquo; {{post.next.title}}</a>
    {% endif %}
    {% if post.previous.url %}
        <a class="next" href="{{post.previous.url}}">{{post.previous.title}} &raquo;</a>
    {% endif %}
    <a href="{{ site.baseurl }}{{ site.posts.last.url }}">last</a>
</nav>
<article class="post">
  <h1>{{ post.title }}</h1>

  <div class="entry">
    {{ post.content }}
  </div>

  <div class="date">
    Written on {{ post.date | date: "%B %e, %Y" }}
  </div>
</article>
