---
layout: default
---
<nav class="PageNavigation">
    <a href="{{ site.baseurl }}{{ site.posts.first.url }}">first</a>
    {% if site.posts.last.previous.url %}
        <a class="prev" href="{{site.posts.last.previous.url}}">&laquo; {{site.posts.last.previous.title}}</a>
    {% endif %}
</nav>

<div class="posts">
    <article class="post">
      <h1>{{ site.posts.last.title }}</h1>

      <div class="entry">
        {{ site.posts.last.content }}
      </div>

      <div class="date">
        Written on {{ site.posts.last.date | date: "%B %e, %Y" }}
      </div>

      {% include disqus.html %}
    </article>
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
