---
layout: default
---
{% assign post = page %}
<nav class="PageNavigation">
    <a href="{{ site.baseurl }}{{ site.posts.last.url }}">first</a>
    {% if post.previous.url %}
        <a class="prev" href="{{post.previous.url}}" title="{{post.previous.title}}">&laquo; Previous</a>
    {% endif %}
    {% if post.next.url %}
        <a class="next" href="{{post.next.url}}" title="{{post.next.title}}">Next &raquo;</a>
    {% endif %}
    <a href="{{ site.baseurl }}{{ site.posts.first.url }}">last</a>
</nav>

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
</article>
